<div [hidden]="submitted" class="container">
    <h1>Página de Login</h1>
    {{ model | json }}
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
        <div class="form-group">
            <label for="usuario">Usuario</label>
            <input type="text" class="form-control" id="usuario" name="usuario"
            #usuario="ngModel"
            required
            [(ngModel)]="model.usuario">
        </div>

        <!-- Mensaje de validación -->
        <div [hidden]="usuario.valid || usuario.pristine" class="alert alert-danger">
            El usuario es requerido
        </div>

        <div class="form-group">
            <label for="contra">Contraseña</label>
            <input type="text" class="form-control" id="contra" name="contra"
            #contra="ngModel"
            required
            [(ngModel)]="model.contra">
        </div>

        <!-- Mensaje de validación -->
        <div [hidden]="contra.valid || contra.pristine" class="alert alert-danger">
            La contraseña es requerida
        </div>

        <button type="submit" class="btn btn-success" [disabled]="!personForm.form.valid">Enviar</button>
        <button type="button" class="btn btn-secondary" (click)="newPerson();">Nueva Persona</button>
        <button type="button" class="btn btn-secondary" (click)="personForm.reset()">Reset</button>
        <button type="button" class="btn btn-secondary" (click)="newPerson();personForm.reset()">Nueva Persona y Reset</button>
    </form>
</div>
<div  class="container" [hidden]="!submitted">
    <h2>Has enviado los siguientes datos:</h2>
    <div class="row">
        <div class="col-3">Usuario</div>
        <div class="col-9">{{ model.usuario }}</div>
    </div>
    <div class="row">
        <div class="col-3">Contraseña</div>
        <div class="col-9">{{ model.contra }}</div>
    </div>
    <br>
    <button type="button" class="btn btn-primary" (click)="submitted=false">Editar</button>